@import "../base/config";

.recipe {
  background: #e1e7e1;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #859c8a;
  max-width: 800px;
}

.recipe__title {
  margin-top: 0;
}

.recipe__list {
  padding-left: inherit;
}
